@import "tailwindcss";

@theme {
  /* Suas Cores Estilo Udemy */
  --color-brand-dark: #061629;
  --color-brand-green: #00C402;
  --color-brand-green-dark: #1D5F31;

  /* Fontes */
  --font-exo: "Exo 2", sans-serif;

  /* Variáveis de suporte para o Shadcn não quebrar */
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

:root {
  --background: #061629;
  --foreground: #061629;
  --border: #e2e8f0;
  --input: #e2e8f0;
  --ring: #00C402;
  --radius: 0.5rem;
}

/* Removemos o @layer base por enquanto para evitar o erro de 'unknown utility' */
body {
  background-color: var(--background);
  color: var(--foreground);
}